{% extends "base_site.html" %}

{% block title %} Fixed Footer {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <!-- jQuery custom content scroller 
  <link href="/static/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet"/>-->
{% endblock stylesheets %}

{% block body_class %}nav-md footer_fixed{% endblock body_class %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Skills <small><strong></strong></small></h3>
        </div>
        <div class="x_content">
            <form id="newSkillForm" class="form-horizontal form-label-left" method="POST" enctype="multipart/form-data" novalidate>
                  {% csrf_token %}
                  <!--{{ form.as_p }}-->
                  <span class="section">Add New Skill</span>

                  
                  <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="skill">Skill Name <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input id="skill" class="form-control col-md-7 col-xs-12"  name="skill" placeholder="skill display name" required="required" type="text">
                    </div>
                  </div>
                
                
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sector">Sector of activity <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">                
                    <input type="text" class="form-control col-md-7 col-xs-12" id="sector" name="sector" placeholder="sector">
                  </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button type="submit" class="btn btn-success">Submit</button>
                  </div>
                </div>  
                <div class="item form-group" id="resultsBlock">
                    {% for skill in skills %}
                      <div>
                        <ul>
                          <li>{{skill.skillName}}</li>
                        </ul>
                      </div>
                    {% endfor %}
                </div>

            </form>
          </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- jQuery custom content scroller -->
  <script src="/static/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
  
  <!--<script src="/static/vendors/jquery/dist/jquery.min.js"></script>-->
  <script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $('#newSkillForm').submit(function (e) {
            console.log("Loading...");
            e.preventDefault();
            $.ajax(
                {
                    type: "POST",
                    url: "/advert/v1/skill/add",
                    data: $('#newSkillForm').serialize(),
                    dataType: "json",
                    success: function (response) {
                    console.log(response),
                        $('#resultsBlock').append("<div><ul><li>"+response.skillName+"</li></ul></div>")                                        
                        $('#newSkillForm')[0].reset();
                        //$('#resultsBlock').html(response.status);
                    },
                    error: function (xhr, status, error) {
                        console.log(data),
                        console.log(response),
                        console.log(error);
                    },
            }); 
        } );     
    });

    </script>

{% endblock javascripts %}
