<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/headers/">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
        <link href="/static/assets/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="/static/assets/js/color-modes.js"></script>
        <link href="headers.css" rel="stylesheet">
        <title>Job Board</title>
    </head>
    <body>       
        <div class="container">            
            <div>
                {% include "blog/top.html" %}
            </div>
        </div> 
        <script src="" async defer></script>
        <script src="/static/assets/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>